.experiencia{
    padding: 32px;

}
.titulosGrandes{
    font-size: 42px;
    font-weight: $black;
}
.experi{
    padding-top: 29px;
    padding-bottom: 0px;
    font-size: 26px;
    font-weight: $bold;
}

.experi2{
    padding-top: 5px;
    padding-bottom: 15px;
    font-weight: $regular;
    font-size: 18px;
    
}
.experi3{
    padding-top: 5px;
    padding-bottom: 12px;
    font-weight: $light;
    font-size: 18px;
    
}

.camposDeescritura{
    padding-top: 0px;
    width: 100%;
    font-size: 23px;
    border-radius: 5px;
}
.textoSobreLosCampos{
    padding-bottom: 0px;
    padding-top: 13px;
    margin-bottom: -16px;
    font-size: 20px;
}
.Superior_informacionAngela{
    padding: 33px;
}

